<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Makersgully</title>
  </head>
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  />
  <link href="/main.css" rel="stylesheet" type="text/css" />
  <style></style>
  <body>
    <%- include partials/navbar.ejs %>
    <div>
      <div class="propbanner">
        <div>
        <h4>You have unlocked <%=title %>!</h4>
        <button class="btn btn-primary" id="paythis" onClick="proceed()">Visit Link</button>
      </div>
      </div>
    </div>
  </body>
  <%- include partials/auth.ejs %>
  <script type="text/javascript">
    function proceed() {
      console.log("Hey");
      window.location.href = "<%= link %>";
    }
  </script>
</html>
