<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Makersgully</title>
  </head>
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  />
  <link href="/main.css" rel="stylesheet" type="text/css" />
  <style></style>

  <body>
    <%- include partials/navbar.ejs %>

    <div class="container">
      <div class="row">
        <div class="col hero center">
          <h2>Monetize your digital products instantly</h2>
          <p class="tagline">
            Use Makersgully platform to monetize any URL and track your sales.
          </p>
          <div id="ifLoggedIn">
            <!-- <input
            type="url"
            id="link"
            name="link"
            aria-describedby="linkHelp"
            placeholder="URL you want to monetize"
          /> -->
            <!-- <button class="classico" data-toggle="modal" data-target="#configure">
            Set up
          </button> -->
          </div>
          <div
            class="modal fade"
            id="configure"
            tabindex="-1"
            role="dialog"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Final Step</h5>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <label for="link">Title</label>
                    <input
                      type="text"
                      class="form-control"
                      id="title"
                      name="title"
                      value=""
                      aria-describedby="titleHelp"
                      placeholder=""
                    />
                    <!-- <small id="titleHelp" class="form-text text-muted"
                      >Please ensure your link works.</small
                    > -->
                  </div>
                  <div class="form-group">
                    <label for="description">Description</label>
                    <textarea
                      class="form-control"
                      id="description"
                      rows="4"
                    ></textarea>
                  </div>
                  <div class="form-group">
                    <label for="price">Unlock Price</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon3"
                          >₹</span
                        >
                      </div>
                      <input
                        type="number"
                        class="form-control"
                        name="price"
                        id="price"
                        placeholder=""
                      />
                    </div>
                  </div>
                  <small id="titleHelp" style="display:none" class="form-text text-muted"
                    >You get paid ₹ <span id="earn">0</span>.</small
                  >
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                  >
                    Close
                  </button>
                  <button type="button" class="btn btn-primary" id="submit" disabled>
                    Generate Link
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div
            class="modal fade"
            id="genlinkmodal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="genlinkmodal"
            aria-hidden="true"
          >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">
                    Your link is ready!
                  </h5>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div id="genlink"></div>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                  >
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row banner">
        <div class="col-md-3 center">
          <img class="img-fluid" src="/drive.png" />
          <p>
            Charge your clients for the soft copy of your designs [Google Drive
            link]
          </p>
        </div>
        <div class="col-md-3 center">
          <img class="img-fluid" src="/yt.png" />
          <p>
            Share your upcoming short film with your fans [YouTube video link]
          </p>
        </div>
        <div class="col-md-3 center">
          <img class="img-fluid" src="/docs.png" />
          <p>
            Sell your class notes/slides before an examination [Google Docs
            link]
          </p>
        </div>
        <div class="col-md-3 center">
          <img class="img-fluid" src="/sheets.png" />
          <p>Take orders for advertising on your blog [Google Forms link]</p>
        </div>
      </div>
    </div>
  </body>
  <%- include partials/auth.ejs %>
  <script>
    $("#submit").click(async event => {
      $("#submit").html(
        `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Processing...`
      );
      const data = {
        link: document.getElementById("link").value,
        price: document.getElementById("price").value,
        title: document.getElementById("title").value,
        description: document.getElementById("description").value
      };
      console.log(data);
      $.ajax({
        type: "POST",
        url: "/",
        data: data,
        headers: {
          authorization: `Bearer ${token}`
        }
      }).done(function(resp) {
        $("#submit").html(`Generate Link`);
        $("#configure").modal("hide");
        $("#genlink").html(
          `<a href="<%= app_url %>/r/${resp}"><%= app_url %>/r/${resp}</a>`
        );
        $("#genlinkmodal").modal("show");
      });
    });
    (function() {
      $("#link").keyup(function() {
        const linkInput = $(this).val();
        if (!validate(linkInput)) {
          $("#setup").attr("disabled", "disabled"); // updated according to http://stackoverflow.com/questions/7637790/how-to-remove-disabled-attribute-with-jquery-ie
        } else {
          $("#setup").removeAttr("disabled"); // updated according to http://stackoverflow.com/questions/7637790/how-to-remove-disabled-attribute-with-jquery-ie
        }
      });
    })();
    (function() {
      $("#price").keyup(function() {
        const price_set = $(this).val();
        if(price_set>0) $("#titleHelp").css("display","block");
        else $("#titleHelp").css("display","none");
        $("#earn").html(0.9*parseInt(price_set))
      });
    })();
    (function() {
      $("input.form-control").keyup(function() {
        var empty = false;
        $("input.form-control").each(function() {
          if (!$(this).val()) {
            empty = true;
          }
        });
        if (empty) {
          $("#submit").attr("disabled", "disabled"); // updated according to http://stackoverflow.com/questions/7637790/how-to-remove-disabled-attribute-with-jquery-ie
        } else {
          $("#submit").removeAttr("disabled"); // updated according to http://stackoverflow.com/questions/7637790/how-to-remove-disabled-attribute-with-jquery-ie
        }
      });
    })();

    const validate = str => {
      var pattern = new RegExp(
        "^(https?:\\/\\/)?" + // protocol
        "((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.)+[a-z]{2,}|" + // domain name
        "((\\d{1,3}\\.){3}\\d{1,3}))" + // OR ip (v4) address
        "(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*" + // port and path
        "(\\?[;&a-z\\d%_.~+=-]*)?" + // query string
          "(\\#[-a-z\\d_]*)?$",
        "i"
      ); // fragment locator
      return !!pattern.test(str);
    };
  </script>
</html>
