<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Makersgully</title>
  </head>
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  />
  <link href="/main.css" rel="stylesheet" type="text/css" />
  <style></style>
  <body>
    <%- include partials/navbar.ejs %>
    <div class="container topoffset">
      <div id="loading">
        <div class="spinner">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>
      </div>
      <form id="settingsForm" style="display: none;">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="Name">Name</label>
            <input type="text" class="form-control" id="Name" readonly />
          </div>
          <div class="form-group col-md-6">
            <label for="email">Email</label>
            <input type="email" readonly class="form-control" id="email" />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="method">State</label>
            <select id="method" class="form-control">
              <option selected value="default">Choose...</option>
              <option value="paytm">PayTM Number</option>
              <option value="tez">GoogleTez Number</option>
              <option value="upi">UPI</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="ID">ID/Number</label>
            <input type="text" class="form-control" id="ID" />
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
      </form>
      <div class="row" style="margin-top: 40px;">
        <div class="col-md-4">
          <h4>Total Earnings</h4>
          <h2 id="totalEarnings"></h2>
        </div>
        <div class="col-md-4">
          <h4>Total Payouts</h4>
          <h2 id="totalPayouts"></h2>
        </div>
        <div class="col-md-4">
          <h4>Balance</h4>
          <h2 id="balance"></h2>
        </div>
      </div>
    
      <h5 class="topoffset">Payout History</h5>
      <p>You can request a payout when your earnings exceed ₹500</p>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Amount</th>
            <th scope="col">Date</th>
            <th scope="col">Method</th>
          </tr>
        </thead>
        <tbody id="linksTable"></tbody>
      </table>
      <div id="warn">
        <div class="spinner">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>
      </div>
    </div>
  </body>
  <%- include partials/auth.ejs %>
  <script>
    $("#settingsForm").submit(function(e) {
      e.preventDefault();
      const method = $("#method").val();
      const ID = $("#ID").val() || "";
      $.ajax({
        type: "POST",
        url: "/updateSettings",
        data: { method, ID },
        headers: {
          authorization: `Bearer ${token}`
        }
      }).done(function(resp) {
        if (resp === "OK") {
          alert("All done.");
        }
      });
    });
    const init = async () => {
      if (!localStorage.getItem("mkid")) {
        window.location.href = "/";
      }
      const user = JSON.parse(localStorage.getItem("mkid"));
      $("#email").val(user.email);
      $("#Name").val(user.displayName);

      const foo = await firebase
        .firestore()
        .collection("users")
        .doc(user.uid)
        .get();
      let method = "default"; 
      let ID = "";
      let earnings = 0;
      if(foo.data()){
        method = foo.data().method;
        ID = foo.data().ID;
        earnings = foo.data().earning || 0;
      }
      $("#method").val(method);
      $("#ID").val(ID);
      $("#totalEarnings").html("₹ " + earnings);
      $("#loading").html("");
      $("#settingsForm").css("display", "block");

      $.ajax({
        type: "POST",
        url: "/getPayouts",
        headers: {
          authorization: `Bearer ${token}`
        }
      }).done(function(resp) {
       const {payouts} = JSON.parse(resp);
       if(Object.values(payouts).length===0){
           $("#warn").html("No transactions found");
           $("#totalPayouts").html("₹ 0");
          $("#balance").html("₹ " + earnings);
       }
       else{
       const totalPayouts = Object.values(payouts).reduce(
          (a, b) => a + Number(b.value),
          0
        );
        $("#totalPayouts").html("₹ " + totalPayouts);
        $("#balance").html("₹ " + earnings - totalPayouts);
       }
      });
    };
    init();
  </script>
</html>
