<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Makersgully</title>
  </head>
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  />
  <link href="/main.css" rel="stylesheet" type="text/css" />
  <style></style>
  <body>
    <%- include partials/navbar.ejs %>
    <div class="container topoffset">
      <!-- <div class="row">
        <div class="col-md-4">
          <h4>Total Earnings</h4>
          <h2 id="totalEarnings"></h2>
        </div>
      </div> -->
      <h4>Transactions</h4>
      <table class="table table-bordered topoffset">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Link</th>
            <th scope="col">Customer</th>
            <th scope="col">Email</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody id="linksTable"></tbody>
        <div id="warn">
          <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
          </div>
        </div>
      </table>
      <button id="loadmo" style="display:none" onclick="loadmore();" class="btn btn-primary">Load More</button>
    </div>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <%- include partials/auth.ejs %>
  <script>
    let foo, user;
    const lo = 15;
    const init = async () => {
      if (!localStorage.getItem("mkid")) {
        window.location.href = "/";
      }
      user = JSON.parse(localStorage.getItem("mkid"));
      foo = await firebase
        .firestore()
        .collection("transactions")
        .orderBy('time', 'desc')
        .where("uid", "==", user.uid)
        .where("status", "==", "TXN_SUCCESS")
        .limit(lo)
        .get();
      if (foo.empty) {
        $("#warn").html("No transactions found.");
      } else {
        populate(foo);
        if(foo.docs.length===lo){
          $("#loadmo").css("display","block")
        }
        $("#warn").html("");
      }
    };
    init();
    const loadmore = async ()=>{
      const last = foo.docs[foo.docs.length - 1]
      foo = await firebase
        .firestore()
        .collection("transactions")
        .orderBy('time', 'desc')
        .where("uid", "==", user.uid)
        .where("status", "==", "TXN_SUCCESS")
        .startAfter(last)
        .limit(lo)
        .get();
      if(foo.docs.length<lo){
        $("#loadmo").css("display","none")
      }
      populate(foo);
    }
    function populate(dna){
          dna.forEach(doc => {
          const { buyer, buyerName, price, time } = doc.data();
          const url = doc.id.split('-IIP-')[0]
          $("#linksTable:last-child").append(`
                <tr>
                  <td>${moment(time).format("hh:mm a, MMM DD, YYYY")}</td>
                    <td><a href="https://makersgully.com/r/${url}">${url}</a></td>
                    <td>${buyerName}</td>
                    <td>${buyer}</td>
                    <td>${price}</td>
                </tr>
            `);
        });
    }
  </script>
</html>

